.index_banner {
  display: flex;
  height: 500px;
}

.banner_content {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../image/index_banner_text.png);
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  /* max-width: 1600px; */
}

.banner_content img {
  height: 100%;
  width: 50%;
}

.banner_img {
  width: 50%;
  height: 100%;
}

.banner_img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 100% 100%;
}

.banner_title {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.banner_title h4 {
  font-weight: bold;
}

.banner_text {
  background-color: #10325a;
  border: 2px solid #fff;
  display: inline;
  text-align: center;
  padding: 60px 40px;
  border-radius: 50px;
  margin-left: 8%;
}
.banner_text h5 {
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}
.banner_text p {
  color: #fff;
}

/* 背景圖 */
.bgi_I {
  position: absolute;
  z-index: -5;
  left: -45px;
  top: -45px;
  width: 20%;
}

.bgi_S {
  position: absolute;
  z-index: -9;
  left: 650px;
  top: -240px;
  max-width: 100%;
  max-height: 100%;
}

.bgi_E {
  position: absolute;
  z-index: -6;
  top: 345px;
  right: 0px;
  max-width: 100%; /* 最大宽度不超过包含元素的宽度 */
  max-height: 100%; /* 最大高度不超过包含元素的高度 */
  /* width: 100%; */
}

/* 產品介紹 */
.product_content {
  display: flex;
  max-width: 1800px;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

.product_title {
  text-align: center;
  margin-bottom: 50px;
}

.product_content ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.product_content img {
  width: 100%;
}

.product_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  gap: 30px;
}

.product_text p {
  margin-top: 30px;
  text-align: center;
}

.a_link a {
  color: #10325a;
  font-size: 20px;
  font-weight: 700;
}

.a_link a:hover {
  color: #5c636a;
}

/* 服務案例輪播 */

.service_content {
  display: flex;
  max-width: 1600px;
  margin: 100px;
  padding: 50px 0;
}

.service_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  margin-left: 10px;
}

.mySwiper {
  width: 100%;
}

.swiper img {
  width: 100%;
}

.service_title h4 {
  font-size: 40px;
}

.bgi_O {
  z-index: -40;
  position: absolute;
  left: -80px;
  top: -90px;
  width: 20%;
}

/* RWD */
@media only screen and (max-width: 1660px) {
  /* .service_title {
    width: 1000px;
  } */

  .product_content ul {
    justify-content: space-around;
    /* flex-wrap: wrap; */
  }

  .product_text {
    align-items: center;
  }
}

@media only screen and (max-width: 1366px) {
  .bgi_S {
    left: 515px;
    top: -210px;
    width: 23%;
  }

  .bgi_E {
    top: 320px;
    right: 29px;
    width: 15%;
  }

  .service_content {
    gap: 30px;
  }

  .product_content ul {
    display: flex;
    justify-content: space-between;
    width: 87%;
    gap: 30px;
    flex-wrap: nowrap;
  }

  .banner_title h4 {
    font-weight: bold;
    font-size: 20px;
  }
  .banner_text h5 {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
  }
}

@media only screen and (max-width: 1266px) {
  .banner_title {
    /* margin-right: 6%; */
  }
  .banner_text {
    margin-left: 2%;
    padding: 60px 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .bgi_S {
    left: 385px;
    top: -190px;
    width: 23%;
  }
}

@media only screen and (max-width: 991px) {
  .banner_title {
    margin-left: 4%;
  }

  /* 背景圖 */
  .bgi_S {
    left: 324px;
    top: -180px;
    width: 23%;
  }
  .bgi_E {
    top: 297px;
    right: 23px;
    width: 15%;
  }

  .product_content ul {
    width: 98%;
  }

  .bgi_O {
    left: 10px;
    top: -40px;
  }
  .service_content {
    margin: 30px;
    gap: 20px;
  }
  .line_blue_st {
    background: #10325a;
    width: 80px;
    height: 2px;
  }
}

@media only screen and (max-width: 880px) {
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
}

@media only screen and (max-width: 769px) {
  .index_banner {
    /* flex-direction: column-reverse; */
  }
  .banner_content {
    width: 75%;
  }
  .banner_title {
    margin-left: 1%;
  }

  .banner_text {
    padding: 50px 15px;
  }
}

@media only screen and (max-width: 680px) {
  .index_banner {
    flex-direction: column;
    height: auto;
  }

  .banner_img {
    width: 100%;
  }

  .banner_content {
    width: 100%;
    padding: 50px;
  }

  .bgi_I {
    position: absolute;
    z-index: -5;
    left: -15px;
    top: -15px;
    width: 11%;
  }
  .bgi_S {
    left: 124px;
    top: -240px;
    width: 30%;
  }

  .bgi_E {
    top: 987px;
    right: 73px;
    width: 20%;
  }

  .product_content ul {
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
  }
  .product_text li {
    width: 40%;
  }
  .bgi_O {
    z-index: -40;
    position: absolute;
    left: 130px;
    top: -80px;
    width: 25%;
  }
  .service_content {
    flex-direction: column;
    padding: 0px;
    gap: 50px;
    margin: 30px;
  }
  .service_title {
    width: auto;
    margin-left: 0px;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .banner_content {
    width: 100%;
    padding: 30px 13px;
    align-items: center;
  }

  .banner_title h4 {
    font-weight: bold;
    font-size: 28px;
  }

  .banner_text h5 {
    font-size: 15px;
    line-height: 21px;
  }
  .banner_text p {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    line-height: 21px;
  }

  .product_text li {
    width: 86%;
  }

  .bgi_I {
    width: 15%;
  }

  .bgi_S {
    left: 74px;
    top: -230px;
    width: 36%;
  }
  .bgi_E {
    top: 800px;
    right: 33px;
    width: 28%;
  }
  .bgi_O {
    z-index: -40;
    position: absolute;
    left: 47px;
    top: -80px;
    width: 33%;
  }
}
