.allbanner {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../image/contact_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75%;
}

.info_content {
  max-width: 1500px;
  margin: 100px auto;
  /* background-color: #ff0000; */

  border-bottom: 2px solid #10325a;
}

.info_title {
  margin-bottom: 100px;
}

.info_title h3 {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5rem;
  line-height: 2.5rem;
}

.info_media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.info_all {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 29%;
  padding: 50px;
  border-radius: 50px;
  border: 2px solid #10325a;
  align-content: space-between;
}

/* faq */
.bgi_ISEO {
  position: absolute;
  top: -70px;
  width: 31%;
  right: 70px;
}

/* RWD */
@media only screen and (max-width: 1660px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1266px) {
  .info_all {
    display: inline-flex;
    flex-direction: row;
    width: 70%;
    padding: 30px;
    border-radius: 20px;
  }
  .info_media {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 820px) {
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
}

@media only screen and (max-width: 769px) {
  .info_all {
    display: inline-flex;
    flex-direction: row;
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
  }
  .bgi_ISEO {
    position: absolute;
    top: 600px;
    width: 40%;
    right: 70px;
  }
}

@media only screen and (max-width: 680px) {
}

@media only screen and (max-width: 500px) {
  .info_all {
    display: inline-flex;
    flex-direction: row;
    width: 95%;
    padding: 15px;
    border-radius: 20px;
    gap: 16px;
  }

  @media only screen and (max-width: 430px) {
    .info_all img {
      width: 45px;
    }
  }
  .info_all {
    display: inline-flex;
    width: 95%;
    padding: 15px;
    border-radius: 20px;
    gap: 16px;
    flex-direction: column;
  }
}
