.allbanner {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../image/product_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25%;
}

.porduct_content {
  max-width: 1600px;
  margin: 100px auto;
  width: 95%;
}

.product_title {
  margin: 50px;
}

.product_title h3 {
  text-align: center;
}

/* 選單 */

.product_dropdowns {
  border-bottom: 3px solid #10325a;
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.btn-group-vertical > .btn,
.btn-group > .btn {
  font-size: 22px;
  letter-spacing: 0.5rem;
}

.dropdown-toggle::after {
  content: ""; /* 清空伪元素的内容 */
  background-image: url("../image/under_bottom.svg"); /* 使用您的图像路径 */
  background-size: 20px 20px; /* 根据需要调整图像大小 */
  background-repeat: no-repeat;
  display: inline-block; /* 使伪元素显示为块级元素以便设置宽高 */
  width: 20px;
  height: 20px;
  border: none;
  /* 其它样式属性 */
}
.btn-secondary {
  color: #10325a;
  background-color: transparent;
  border-color: transparent;
}
.btn-group-vertical > .btn,
.btn-group > .btn {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  display: flex;
  align-items: center;
  color: #10325a;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #10325a;
  border-color: transparent;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem #10325a;
  /* border: ; */
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: #10325a;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #10325a;
  background-color: #fff;
}

.dropdown-menu a {
  color: #fff;
}

.btn {
  border-radius: 0rem;
}

/* 商品切換 */
.product_text {
  display: flex;
  margin: 100px 0px;
  padding: 0px 50px 0 100px;
  /* background: #5d86b6; */
  gap: 10%;
  justify-content: center;
}

.menublock {
  display: flex;
  justify-content: space-around;
  margin-top: 17px;
}

.product_introduce {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.product_important ul {
  list-style-type: square;
}

.product_important ul li::marker {
  font-size: 21px;
}

.product_important h6 {
  margin-top: 30px;
  font-size: 18px;
}

.product_dropdowns991 {
  display: none;
}

.dropdown-header {
  display: block;
  padding: 1rem 1rem 0rem;
  margin-bottom: 0;
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
}

hr {
  margin: 0.5rem;
  opacity: 1;
}

/* RWD */
@media only screen and (max-width: 1660px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1266px) {
  .porduct_content {
    margin: 50px auto;
  }
  .product_text {
    /* align-items: center; */
    padding: 0px;
    margin: 50px 0px;
  }
  .product_introduce {
    width: 70%;
  }
  .product_important ul li {
    font-size: 13px;
  }
  p {
    font-size: 0.8rem;
  }
  .product_important h6 {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1024px) {
  .product_important ul li {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .product_dropdowns {
    display: none;
  }
  .product_dropdowns991 {
    display: flex;
  }
}

@media only screen and (max-width: 820px) {
  .product_img {
    width: 80%;
  }
  .product_text {
    flex-direction: column;
    align-items: center;
  }
  .product_introduce {
    margin-top: 4%;
  }
  .product_introduce {
    width: 85%;
  }
  .product_important ul {
    /* list-style-position: inside; */
}
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
}

@media only screen and (max-width: 769px) {
}

@media only screen and (max-width: 680px) {
  .product_img {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .btn-group,
  .btn-group-vertical {
    width: 100%;
    justify-content: space-between;
  }
  .btn-group-vertical > .btn,
  .btn-group > .btn {
    width: 100%;
    justify-content: space-between;
  }

  .dropdown-menu991{
    width: 100%;
  }

  .product_img {
    width: 90%;
  }
  .product_introduce {
    width: 90%;
    padding: 0 10px;
  }
  .dropdown-menu a {
    color: #fff;
    font-size: 12px;
}
}
